.box-model{
    background: url('section-bg.png') no-repeat 100% ;
}
.box-model {
    border:  5px solid red;
    height: 600px;
    padding: 20px 10px;
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3 {
    color: white;
    text-align: center;
    font-size: 40px;
    text-align: justify;
    width: 70%;
    margin: 0 auto;
}